<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TOSCA_YAML_Standard -->
      <package
            uri="http://tosca_yaml_standard/1.0"
            class="tosca_yaml_standard.Tosca_yaml_standardPackage"
            genModel="TOSCA_YAML_Standard/TOSCA_YAML_Standard.genmodel"/>
   </extension>

</plugin>
